<% module_names = class_path.map(&:camelize) -%>
# frozen_string_literal: true

<% module_names.each do |mod| -%>
module <%= mod %>
<% end -%>
  module Contracts
    class <%= file_name.camelize %>Contract < ApplicationContract
      params do
        # required(:email).filled(:string)
        # optional(:age).maybe(:integer)
      end
    end
  end
<% module_names.count.times do -%>
end
<% end -%>
